In [23]:
#preprocessing
import pandas as pd
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import re,string

In [2]:
df = pd.read_json('lab1-data.json')

In [3]:
df

,title,summary,text,id
0,"Barbie Review: Greta Gerwig, Margot Robbie, Ry...",Barbie Movie Review: Ryan Gosling shines the b...,Barbie Movie Review: One mention of Barbie and...,0
1,Gadar 2: Sunny Deol-Ameesha Patel Starrer's Tr...,A source close to the film told News18 exclusi...,"The highly anticipated Gadar 2, starring Sunny...",1
2,Kartik Aaryan Ditches First Class To Fly In Ec...,Kartik Aaryan was spotted flying in economy cl...,"Kartik Aaryan, who is gearing up for the relea...",2
3,"India's Anju, Now Fatima, Receives Land, Money...",Abbasi had said that it was important to make ...,"Indian woman, Anju who travelled to Pakistan t...",3
4,Himachal Pradesh Hotels Offer 50% Discount As ...,Flash floods and landslides caused by heavy do...,"Himachal Pradesh, one of the worst hit states ...",4
...,...,...,...,...
31626,"Coronavirus Updates: April 29, 2020 | As it ha...",The total number of global coronavirus cases h...,"Coronavirus Updates April 29, 2020The total nu...",31626
31627,It's important to get clear idea about source ...,As China battled to deflect the criticism over...,It's important to get clear idea about source ...,31627
31628,'We saw them coming and cops disappeared': Eye...,"Following the first incident, Prime Minister H...",'We saw them coming and cops disappeared': Ban...,31628
31629,5.3 magnitude earthquake strikes Nepal,"The EMSC made an official Tweet, ""Felt #earthq...",Earthquake of 5.3 magnitude hits NepalAn Earth...,31629
31630,"Afghanistan: Taliban to locate, secure Bactria...",The Bactrian treasure is an important asset of...,"Taliban to locate, secure Bactrian treasureThe...",31630

In [4]:
new_df = df.drop(columns=['title','summary'])

In [5]:
new_df

                                                    text     id
0      Barbie Movie Review: One mention of Barbie and...      0
1      The highly anticipated Gadar 2, starring Sunny...      1
2      Kartik Aaryan, who is gearing up for the relea...      2
3      Indian woman, Anju who travelled to Pakistan t...      3
4      Himachal Pradesh, one of the worst hit states ...      4
...                                                  ...    ...
31626  Coronavirus Updates April 29, 2020The total nu...  31626
31627  It's important to get clear idea about source ...  31627
31628  'We saw them coming and cops disappeared': Ban...  31628
31629  Earthquake of 5.3 magnitude hits NepalAn Earth...  31629
31630  Taliban to locate, secure Bactrian treasureThe...  31630

[31631 rows x 2 columns]

In [6]:
#lowercasing
new_df['text'] = new_df['text'].str.lower()

In [7]:
#remove non-ascii chars
new_df['text'] = new_df['text'].str.replace(r'[^\x00-\x7F]+', '',regex=True)

In [8]:
#remove html entity code
new_df['text'] = new_df['text'].str.replace(r'&#(\d+);', '',regex=True)

In [18]:
#tokenizing
new_df['text'] = new_df['text'].fillna('')
new_df['tokens'] = new_df['text'].apply(word_tokenize)

In [19]:
#removing stopwords
stop_words = set(stopwords.words('english'))
new_df['tokens'] = new_df['tokens'].apply(lambda tokens: [word for word in tokens if word.lower() not in stop_words])

In [21]:
#removing numbers
new_df['tokens'] = new_df['tokens'].apply(lambda tokens: [word for word in tokens if not word.isdigit() and word not in string.punctuation])

In [46]:
new_df

,text,id,tokens
0,barbie movie review: one mention of barbie and...,0,"[barbie, movie, review, one, mention, barbie, ..."
1,"the highly anticipated gadar 2, starring sunny...",1,"[highly, anticipated, gadar, starring, sunny, ..."
2,"kartik aaryan, who is gearing up for the relea...",2,"[kartik, aaryan, gearing, release, satyaprem, ..."
3,"indian woman, anju who travelled to pakistan t...",3,"[indian, woman, anju, travelled, pakistan, mee..."
4,"himachal pradesh, one of the worst hit states ...",4,"[himachal, pradesh, one, worst, hit, states, m..."
...,...,...,...
31626,"coronavirus updates april 29, 2020the total nu...",31626,"[coronavirus, updates, april, 2020the, total, ..."
31627,it's important to get clear idea about source ...,31627,"['s, important, get, clear, idea, source, coro..."
31628,'we saw them coming and cops disappeared': ban...,31628,"['we, saw, coming, cops, disappeared, banglade..."
31629,earthquake of 5.3 magnitude hits nepalan earth...,31629,"[earthquake, 5.3, magnitude, hits, nepalan, ea..."
31630,"taliban to locate, secure bactrian treasurethe...",31630,"[taliban, locate, secure, bactrian, treasureth..."