In [1]:
##Programming lab-10
##202311023 22/08/2023

In [3]:
from math import pi
[str(round(pi,i))for i in range(1,6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

In [5]:
matrix =[
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
]
matrix

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [6]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [7]:
for i in range(3):
    for j in range(3):
        print(matrix[j][i])

1
5
9
2
6
10
3
7
11

In [9]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [11]:
transposed=[]
for i in range(4):
    transposed_row=[]
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [12]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

In [14]:
a = [-1,1,66.25,333,333,1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [16]:
del a[2:4]
a

[1, 66.25]

In [17]:
del a[:]
a

[]

In [21]:
t = 123,'you',32
t[0]

123

In [22]:
t

(123, 'you', 32)

In [25]:
u = t,(1,2,3,4,5)
u

((123, 'you', 32), (1, 2, 3, 4, 5))

In [26]:
t[0]=222

TypeError: 'tuple' object does not support item assignment

In [28]:
v = ([1,23,4],[1,2,3])
v

([1, 23, 4], [1, 2, 3])

In [29]:
empty=()
singleton = 'hello',
len(empty)

0

In [30]:
len(singleton)

1

In [34]:
singleton = 'hello'
print(len(singleton))
singleton

5

'hello'

In [39]:
singleton = 'hello',123
len(singleton)

2

In [40]:
singleton

('hello', 123)

In [43]:
print(t)
x,y,z=t

(123, 'you', 32)

In [44]:
print(x,y,z)

123 you 32

In [45]:
x

123

In [46]:
y

'you'

In [47]:
z

32

ValueError: too many values to unpack (expected 2)