Programming lab-21

202311023 05/10/2023

In [2]:
import pandas as pd

In [3]:
data = { "apple":[1,2,3,4,5], 'orange':[7,2,1,5,4] }
df = pd.DataFrame(data)

In [4]:
df

   apple  orange
0      1       7
1      2       2
2      3       1
3      4       5
4      5       4

In [7]:
df = pd.DataFrame(data,index=['ram','shyam','satyam','sundar','noddy'])

In [8]:
df

        apple  orange
ram         1       7
shyam       2       2
satyam      3       1
sundar      4       5
noddy       5       4

In [11]:
df = pd.DataFrame.from_dict(data,orient='index')

In [12]:
df

        0  1  2  3  4
apple   1  2  3  4  5
orange  7  2  1  5  4

In [15]:
df = pd.DataFrame.from_dict(data,orient='index',columns=['a','c','e','g','j'])
df

        a  c  e  g  j
apple   1  2  3  4  5
orange  7  2  1  5  4

In [20]:
d = pd.read_csv('myfile.csv')
d

    a   b  c
0  12   2  3
1   4  54  5
2   2  45  4